.App {
	display: grid;
	grid-template-rows: max(auto, 100px) auto max(auto, 40px);
	width: 100%;
	max-width: 100%;
	max-height: max-content;
	height: 100vh;
}

.nav-item--active{
	background-size:100% 3px!important;
}