.App {
	font-family: 'Montserrat', 'Gudea', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
	display: grid;
	grid-template-rows: minmax(min-content, max-content) auto minmax(min-content, max-content);
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	max-height: max-content;
}

.App > *:not([class$='footer']):not([class$='header']) {
	max-width: 100%;
}

.nav-item--active{
	background-size:100% 3px!important;
}

.simple-link {
	border: none;
	background-color: transparent;
	font-size: .8rem;
	cursor: pointer;
	text-decoration: underline;
	color: #414141;
}

.simple-link:hover {
	color: black;
}